/************* HEADER *************/
header {
  padding: 2% 5%;
}

header h1{
  display: inline;
}

header #hamburger {
  font-size: 40px;
  display: inline;
  float: right;
  padding-top: 15px;
}

header ul {
  display: none;
  list-style: none;
}

header li {
  border-bottom: 1px solid darkgrey;
  padding: 10px 0px;
  text-align: center;
}
header li:last-of-type {
  border-bottom: 0px;
}

header li:first-of-type {
  border-top: 1px solid darkgrey;
}

/************* PORTFOLIO ARTICLE ENTRIES *************/
#portfolio article {
  padding: 5%;
  border-bottom: 1px solid darkgray;
  text-align: center;
}

/* Removes bottom border from last item as to not get a double border at the end of the section*/
#portfolio article:last-of-type {
  border: none;
}

/************* CONTACT *************/

#contact {
    text-align: center;
}

#contact a {
  text-decoration: none;
  margin: 0% 10%;
}

#contact i {
  font-size: 60px;
}
