/************* HEADER *************/
header {
  padding: 2% 5%;
}

header h1{
  display: inline;
}

header #hamburger {
  font-size: 40px;
  display: inline;
  float: right;
  padding-top: 15px;
}

header ul {
  display: none;
  list-style: none;
}

/************* PORTFOLIO ARTICLE ENTRIES *************/
#portfolio article {
  padding: 5%;
  border-bottom: 1px solid darkgray;
  text-align: center;
}

/* Removes bottom border from last item as to not get a double border at the end of the section*/
#portfolio article:last-of-type {
  border: none;
}
