/************* HEADER *************/
header {
  background-color: pink;
  padding: 2% 5%;
}

header h1{
  display: inline;
}

header #hamburger {
  font-size: 40px;
  display: inline;
  float: right;
  padding-top: 15px;
}

header ul {
  display: none;
  list-style: none;
}

/************* PORTFOLIO ARTICLE ENTRIES *************/
 #portfolio article {
   border: 10px solid red;
   padding: 5%;
 }
 #portfolio h3 {
   text-decoration: underline;
 }
