/************* RESET *************/
* {
  font-family: 'Josefin Sans';
}

h1 {
  font-family: 'Bad Script', cursive;
  font-size: 36px;
  margin-top: 0;
}

h2 {
  text-align: left;
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

main section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0% 5% 5% 5%;
}
