/************* HEADER *************/
@media (min-width:700px) {

  header ul {
    display: inline !important;
  }
  header li {
    display: inline;
    margin-left: 5%;
    margin-top: 30px;
    font-size: 20px;
    border: 0;
  }

  header li:first-of-type {
    border-top: 0;
  }
  header #hamburger {
    display: none;
  }
}

/************* PORTFOLIO ARTICLE ENTRIES *************/
@media (min-width: 700px) {

  /* To make sure that the bottom borders are lining up, prevent the description from overflowing*/
  article p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Removes bottom border from second to last item as to not get a double border at the end of the section (the last item is taken care of in the mobile styling)*/
  #portfolio article:last-of-type, #portfolio article:nth-last-of-type(-n+2) {
    border: none;
  }
}
